<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clouise&Cnails</title>
    <link rel="stylesheet" href="templates/css/style.css">
    <link rel="stylesheet" href="templates/css/market.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="page.php" id="user_info">
        <div class="user_info">
            <p class="user_name">name</p>
            <p>Balance:</p>
            <p class="user_sum">0</p>
        </div>
    </a>
    <script src="templates/js/script.js"></script>
    <script>

        var tmp = document.querySelector("#user_info");
        document.querySelector(".header").appendChild(tmp);
        // document.querySelector("body").removeChild(tmp);
        
        function set_info() {
            SendRequest("get", "user.php", "", function (res) {
                console.log(res.response);
                var data = JSON.parse(res.response);
                if (data !== false) {
                    if (data['money'])
                        document.querySelector(".user_sum").innerHTML = data['money'];
                    if (data['login'])
                        document.querySelector(".user_name").innerHTML = data['login'];
                }
            });
        }
        set_info();

    </script>
</body>
</html>