<section class="products">
    
</section>
    <a href="basket.php" class="basket_link">
        <div class="basket_menu">
            <div class="basket">
                <img src="img/basket.svg" alt="backet">
            </div>
            <div class="number">
                <div class="qty">
                    Quantity: <span>0</span>
                </div>
                <div class="sum">
                    Sum: <span>0</span>$
                </div>
            </div>
        </div>
    </a>
<script>
    var products = null;
    SendRequest("get", "get_products.php", "", function (res) {
        res = JSON.parse(res.response);
        products = res;
        if (res) {
            var len = Object.keys(res).length;
            for (var ind = 0; ind < len; ind++) {
                create_cart(res[ind].ind, res[ind].price, res[ind].category, res[ind].item, res[ind].image);
            }
        }
    });
    
    SendRequest("get", "get_cart.php", "", function (res) {
        var cart = JSON.parse(res.response);
        console.log(cart);
        console.log(products);
        if (cart[0]) {
            var sum = 0;
            for (var index = 0; index < cart.length; index++) {
                for (el in products) {
                    pr = products[el];
                    if (pr['ind'] == cart[index]) {
                        sum += Number.parseInt(pr['price']);
                        document.querySelector("#card_" + pr['ind'] + " input").checked = true;
                        break;
                    }
                }
            }
            document.querySelector(".qty span").innerHTML = cart.length;
            document.querySelector(".sum span").innerHTML = sum;
        }
    });

    document.addEventListener('click', function(event) {
        console.log(event.target.getAttribute("type"));
        if (event.target.tagName === "INPUT" && event.target.getAttribute("type") == "checker") {
            SendRequest("get", "delete_from_cart.php", "id=" + id, function (res) {
                console.log(res.response);
                var sum = document.querySelector("#card_" + id + " span").innerHTML;
                var basket_sum = Number.parseInt(document.querySelector(".sum span").innerHTML);
                var basket_qty = Number.parseInt(document.querySelector(".qty span").innerHTML);
                document.querySelector(".qty span").innerHTML = basket_qty + (checked ? 1 : -1);
                document.querySelector(".sum span").innerHTML = basket_sum + (checked ? Number.parseInt(sum) : -1 * Number.parseInt(sum));
                document.querySelector(".number").style.animation = (checked ? "green" : "red") + " 1s forwards";
                document.querySelector(".products").removeChild(document.querySelector("#card_" + id));
            });
        }
        else if (event.target.tagName === "INPUT") {
            console.log(event.target);
            document.querySelector(".number").style.animation = "";
            var id = event.target.getAttribute("id").split('_')[1];
            var checked = event.target.checked;
            if (checked) {
                SendRequest("get", "append_to_cart.php", "id=" + id, function (res) {
                    var sum = document.querySelector("#card_" + id + " span").innerHTML;
                    var basket_sum = Number.parseInt(document.querySelector(".sum span").innerHTML);
                    var basket_qty = Number.parseInt(document.querySelector(".qty span").innerHTML);
                    document.querySelector(".qty span").innerHTML = basket_qty + (checked ? 1 : -1);
                    document.querySelector(".sum span").innerHTML = basket_sum + (checked ? Number.parseInt(sum) : -1 * Number.parseInt(sum));
                    document.querySelector(".number").style.animation = (checked ? "green" : "red") + " 1s forwards";
                });
            } else {
                SendRequest("get", "delete_from_cart.php", "id=" + id, function (res) {
                    console.log(res.response);
                    var sum = document.querySelector("#card_" + id + " span").innerHTML;
                    var basket_sum = Number.parseInt(document.querySelector(".sum span").innerHTML);
                    var basket_qty = Number.parseInt(document.querySelector(".qty span").innerHTML);
                    document.querySelector(".qty span").innerHTML = basket_qty + (checked ? 1 : -1);
                    document.querySelector(".sum span").innerHTML = basket_sum + (checked ? Number.parseInt(sum) : -1 * Number.parseInt(sum));
                    document.querySelector(".number").style.animation = (checked ? "green" : "red") + " 1s forwards";
                });
            }
        }
    });
</script>
