/* header */
.header .header__name{
    width: 100%;
    height: 15%;
}
h1 {
padding: 30px 0;
color: white;
font-size: 40px;
position: relative;
margin: 0;
transform: translate(-50%, -50%);
top: 50%; 
left: 50%;  
background-image: linear-gradient(to right, rgba(211, 212, 218, 0), rgba(211, 212, 218, 0.3) 40%, rgba(211, 212, 218, 0.3) 60%, rgba(211, 212, 218, 0));
}
h1:before {
width: 100%;
height: 2px;
position: absolute;
left: 0;
top: 0;
content: "";
background-image: linear-gradient(to right, rgba(211, 212, 218, 0), rgba(211, 212, 218, 0.8) 40%, rgba(211, 212, 218, 0.8) 60%, rgba(211, 212, 218, 0));
}
h1:after {
width: 100%;
height: 2px;
position: absolute;
left: 0;
bottom: 0;
content: "";
background-image: linear-gradient(to right, rgba(211, 212, 218, 0), rgba(211, 212, 218, 0.8) 40%, rgba(211, 212, 218, 0.8) 60%, rgba(211, 212, 218, 0));
}


.container {
    width: 1440px;
}

body {
    margin: 0;
    background-image: linear-gradient(to right, rgba(98, 0, 255, 0.8) , rgba(255, 72, 0, 0.8) );
}

.footer {
    width: 100%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.2);
    font-style: italic;
    font-family: monospace;
    padding-top: 20px;
}

.info {
    color: #fff;
    /* margin-top: 20px; */
    margin-right: 20px;
}

.form_border {
    border-radius: 5px;
    width: 220px;
}

.form_border.error {
    border-color: red;
}

input {
    width: 100%;
}
/* form */
.form{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form form.login {
    min-height: 220px;
    width: 400px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(98, 0, 255, 0.1) , rgba(255, 72, 0, 0.1) ) ;
    

}
.form form.login label{
    color: white;
    margin-top: 20px;
}
.form form.login input{
    border: none;
    background-color: white ;
    border-radius:10px ;
    padding: 2px 20px 2px 20px;
    transition: 0.5s;
    margin: 2px 0 0 0;
}
.form form.login input:hover{
    width: 270px;

}
.login.error {
    border-color: red;
    
}

p {
    margin: 0;
}

body {
    text-align: center;
}

.error_form {
    display: none;
    color: white;
}

.display {
    display: block;
}

a#user_info {
    position: absolute;
    right: 0;
    top: 0;
}

.user_info {
    display: inline-block;
    width: 300px;
    height: 70px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .5);
}

.form_money {
    height: 100px;
    width: 200px;
    border: 3px solid aqua;
    flex-direction: column;
    justify-content: center;
    display: inline-flex;
    border-radius: 5px;
    align-items: center;
    margin-top: 15px;
}

input.append_money {
    width: 70%;
}

button.append_money {
    width: 70%;
    font-size: small;
    margin-top: 5px;
}

.container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
