/* header */
.header .header__name{
    width: 100%;
    height: 15%;
}
button:focus {outline:0;}
input:focus {outline:0;}
h1 {
padding: 30px 0;
color: white;
font-size: 40px;
position: relative;
margin: 0;
transform: translate(-50%, -50%);
top: 50%; 
left: 50%;  
background-image: linear-gradient(to right, rgba(211, 212, 218, 0), rgba(211, 212, 218, 0.3) 40%, rgba(211, 212, 218, 0.3) 60%, rgba(211, 212, 218, 0));
}
h1:before {
width: 100%;
height: 2px;
position: absolute;
left: 0;
top: 0;
content: "";
background-image: linear-gradient(to right, rgba(211, 212, 218, 0), rgba(211, 212, 218, 0.8) 40%, rgba(211, 212, 218, 0.8) 60%, rgba(211, 212, 218, 0));
}
h1:after {
width: 100%;
height: 2px;
position: absolute;
left: 0;
bottom: 0;
content: "";
background-image: linear-gradient(to right, rgba(211, 212, 218, 0), rgba(211, 212, 218, 0.8) 40%, rgba(211, 212, 218, 0.8) 60%, rgba(211, 212, 218, 0));
}

body {
    margin: 0;
    background-image: linear-gradient(to right, rgba(98, 0, 255, 0.8) , rgba(255, 72, 0, 0.8) );
}

.footer {
    width: 100%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.2);
    font-style: italic;
    font-family: monospace;
    padding-top: 20px;
}

.info {
    color: #fff;
    /* margin-top: 20px; */
    margin-right: 20px;
}

.form_border {
    border-radius: 5px;
    width: 220px;
}

.form_border.error {
    border-color: red;
}

input {
    width: 100%;
}
/* form */
.form{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form form.login {
    position: relative;
    overflow: hidden;
    transition: 0.8s;
    min-height: 250px;
    width: 400px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, rgba(98, 0, 255, 0.1) , rgba(255, 72, 0, 0.1) ) ;

}
.form form.login.error{
    height: 270px;
}
.form form.login a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    transition: 0.5s;
    width: 150px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid white;
    
}
.form form.login a:hover{
    background: linear-gradient(to right, rgba(98, 0, 255, 0.8) , rgba(255, 72, 0, 0.8) );
    border: none;
    box-shadow: 1px 1px black;
}
.form form.login label{
    color: white;
    margin-top: 20px;
}
.form form.login input{
    border: none;
    background-color: white ;
    border-radius:10px ;
    padding: 2px 20px 2px 20px;
    transition: 0.5s;
    margin: 2px 0 0 0;
}
.form form.login .btn {
    display: inline-block;
    background: linear-gradient(to right, rgba(98, 0, 255, 0.1) , rgba(255, 72, 0, 0.1) );
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
    transition: 0.5s;
    border: solid 1px white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form form.login .btn:hover {
    background: linear-gradient(to right, rgba(98, 0, 255, 0.8) , rgba(255, 72, 0, 0.8) );
    border: none;
    box-shadow: 1px 1px black;

}
.form form.login input:hover{
    width: 270px;

}
.login.error {
    border-color: red;
    
}

p {
    margin: 0;
}

body {
    text-align: center;
}

.error_form {
    display: none;
    color: white;
    left: -100%;
    transition: 0.5s;
}

.display {
    display: block;
    left: 20px;
}

a#user_info {
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
}

.user_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
    height: 70px;
    margin-top: 15px;
    margin-right: 20px;
    padding: 10px;
    color: #e2e2e2;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    background-color: rgba(0, 0, 0, .3);
}

.form_money {
    height: 100px;
    width: 200px;
    border: 3px solid aqua;
    flex-direction: column;
    justify-content: center;
    display: inline-flex;
    border-radius: 5px;
    align-items: center;
    margin-top: 15px;
}

input.append_money {
    width: 70%;
}

button.append_money {
    width: 70%;
    font-size: small;
    margin-top: 5px;
}

.container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.mark {
    transition: .5s ease;
}

.mark:hover {
    transform: scale(1.1);
}

.buts {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* justify-content: center; */
    justify-content: space-around;
    margin-left: 10px;
    
}

.delete {
    display: inline-block;
    height: 0;
    width: 0;
}

img {
    max-height: 160px;
}

.swap_page {
    margin-top: 15px;
    display: inline-block;
    margin-bottom: 15px;
}

.orders {
    width: 80%;
    transform: translateX(10%);
}

.order {
    min-width: 400px;
    height: 60px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 15px;
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: 700;
    color: #e2e2e2;
    transition: .5s ease;
    vertical-align: center;
}

.order:hover {
    transform: scale(1.05);
}

.order .user_name {
    font-weight: 900;
    margin-left: 20px;
    margin-right: 20px;
}

.order .sum {
    margin-left: 20px;
}

.logout {
    position: absolute;
    left: 40px;
    top: 40px;
}
